body 
{
    background-image: url(img/background.jpg);
    background-color: #cccccc;
}
header
{
    background-color: brown;
}

h1
{
    background-color: khaki;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p
{
    background-color: antiquewhite;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkred;
}


.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.foot
{
    padding: 30px;
    background-color: brown;
    margin: 0;
    text-align: center;  
}